:root {
  --ff-logo: "Tourney", "cursive";
  --ff-primary: "Roboto", sans-serif;

  --clr-gray-bg: #f1f1f1;
  --clr-gray-bs: #999;
  --clr-green: #4b7f52;
  --clr-red: #a52a2a;

  --transition-1: all 0.3s linear;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-gray-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

main {
  min-height: 100vh;
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: white;

  display: grid;
  grid-template-rows: auto 1fr auto;

  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(-100%);
  transition: var(--transition-1);
}

.sidebar--toggle {
  transform: translateX(0%);
  transition: var(--transition-1);
}

.logo {
  font-size: 1.25rem;
  font-family: var(--ff-logo);
  font-weight: bolder;

  padding: 1.75em;
}

.cross {
  font-size: 1.75rem;
  color: var(--clr-red);
  transition: var(--transition-1);

  position: absolute;
  top: 1.2em;
  right: 1em;
}

.cross:hover {
  transform: rotate(360deg);
}

.nav__list {
  padding: 0;
}

.nav__item {
  font-size: 1.25rem;
  font-family: var(--ff-primary);

  list-style: none;
  padding: 1em 2em;
  transition: var(--transition-1);
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__item:hover {
  background-color: var(--clr-green);
  font-size: 1.35em;
}

.social {
  font-size: 2rem;
  text-align: center;

  display: flex;
  justify-content: center;

  padding-bottom: 1em;
}

.social__item + .social__item {
  margin-left: 0.75em;
}

.social__link {
  text-decoration: none;
  color: var(--clr-green);
}

.hamburger {
  font-size: 3rem;
  color: var(--clr-green);

  position: absolute;
  top: 1em;
  right: 1em;
  animation: bounce 2s ease-in-out infinite;
}

.hamburger--toggle {
  z-index: -1;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 650px) {
  .sidebar {
    width: 30%;
    height: 100%;
  }

  .hamburger--toggle {
    z-index: 1;
  }
}
